<div class="navbar-container">
        <nav>
                <a [routerLink]="['/']" [ngClass]="{ active: activeRoute('/') }">
                        <span>Home</span>
                        <mat-icon class="icono">home</mat-icon>
                </a>
                <a [routerLink]="['/services']" [ngClass]="{ active: activeRoute('/services') }">
                        <span>Servicios</span>
                        <mat-icon class="icono">work_outline</mat-icon>
                </a>
                <a [routerLink]="['/projects']" [ngClass]="{ active: activeRoute('/projects') }">
                        <span>Proyectos</span>
                        <mat-icon class="icono">code</mat-icon>
                </a>
                <a [routerLink]="['/about']" [ngClass]="{ active: activeRoute('/about') }">
                        <span>Información</span>
                        <mat-icon class="icono">account_circle</mat-icon>
                </a>
                <a [routerLink]="['/contact']" [ngClass]="{ active: activeRoute('/contact') }">
                        <span>Contacto</span>
                        <mat-icon class="icono">mail_outline</mat-icon>
                </a>
        </nav>
</div>