.services {
    padding: 10px;
    margin: 30px 55px;
}

@media only screen and (max-width: 470px) {
    .services {
        margin: 35px 10px;
    }
}

.services h2 {
    text-align: center;
    color: rgb(153, 255, 0);
    font-weight: 900;
    font-size: 2rem;
}

.services .list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.services .list article {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    max-width: 25rem;
    box-shadow: 5px 5px 5px rgb(153, 255, 0);
    border-radius: 10px;
    padding: 30px 5px;
    transition: all .3s ease-in-out;
    animation: show-service 1s ease-in-out, shadow-animate 1.5s infinite;
}

@keyframes shadow-animate {
    0% {
        box-shadow: 5px 5px 5px rgb(153, 255, 0);
    }

    50% {
        box-shadow: 5px 5px 5px white;
    }

    100% {
        box-shadow: 5px 5px 5px rgb(153, 255, 0);
    }
    
}

@keyframes show-service {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media only screen and (max-width:601px) {
    .services .list article {
        max-width: none;
    }
}

.services .list article i {
    color: rgb(153, 255, 0);
    font-size: 50px;
}

.services .list article span {
    font-weight: 900;
    font-size: 20px;
}