<header id="home" #header>
    <div class="content">
        <h1>
            Encantado, soy
            <span>Roberto Loza</span>,
            Desarrollador Full Stack de Alto Nivel
        </h1>
        <p>
            Profesional enfocado en la creación de aplicaciones web y móviles de alto impacto. Mi experiencia abarca
            desde
            el diseño frontend con React y Angular, hasta el desarrollo backend con Node.js y la gestión de bases de
            datos.
            Utilizo Git para garantizar la integridad y la colaboración en proyectos complejos.
            <span class="cursor"></span>
        </p>
        <div class="social">
            <a class="media" href="https://api.whatsapp.com/send?phone=50376263182&app=facebook&entry_point=page_cta" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
            </a>

            <a class="media" href="https://www.facebook.com/loza.64/" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>

            <a class="media" href="https://www.linkedin.com/in/roberto-loza-257542221/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>

            <a class="media" href="https://github.com/Loza64" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
        <a class="cv" href="https://drive.google.com/file/d/1lDKNDgqL9cKayGt4CRsqi-V5gQqd0NR8/view?usp=sharing">Descargar cv</a>
    </div>
    <div class="img-container">
        <div class="border-green">
            <div class="border-white">
                <img src="https://res.cloudinary.com/ufostart-development/image/upload/v1741282034/PORTFOLIO/xy7z7er1nkpg2krkkupo.jpg"
                    alt="Roberto Loza">
            </div>
        </div>
    </div>
</header>