<section>
    <h2>Skills</h2>
    <div class="options">
        <button (click)="filter = 'all'">Todos</button>
        <button (click)="filter = 'backend'">Backend</button>
        <button (click)="filter = 'frontend'">Frontend</button>
        <button (click)="filter = 'database'">Bases de datos</button>
    </div>
    <div class="list">
            <article *ngFor="let skill of filterSkills()">
                <div class=" content">
                    <img [src]="skill.url" alt="{{skill.name}}">
                    <label>{{skill.name}}</label>
                    <label  class="percentage">{{skill.percentage}}%</label>
                </div>
                <div class="bar" [style.width]="skill.percentage + '%'"></div>
            </article>
    </div>
</section>